@charset "UTF-8";
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  html:focus-within *,
  html:focus-within *::before,
  html:focus-within *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5em;
}

.border-thin, .navbar li > ul, .card, .alert, article, input[type=radio]::before,
input[type=checkbox]::before, input,
select,
textarea,
button, fieldset, figure, address, details, kbd:before, dl {
  border: 1px solid;
}

.border-x-thin {
  border-left: 1px solid;
  border-left: 1px solid;
}

.border-y-thin {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.border-t-thin, .card footer, details p, ins::before,
u::before,
del::before,
s::before {
  border-top: 1px solid;
}

.border-r-thin {
  border-right: 1px solid;
}

.border-b-thin, .navbar, .navbar li > ul li:not(:last-of-type), .card header, article header::before,
article footer::before {
  border-bottom: 1px solid;
}

.border-l-thin {
  border-left: 1px solid;
}

.border-medium {
  border: 2px solid;
}

.border-x-medium {
  border-left: 2px solid;
  border-right: 2px solid;
}

.border-y-medium {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.border-t-medium {
  border-top: 2px solid;
}

.border-r-medium {
  border-right: 2px solid;
}

.border-b-medium {
  border-bottom: 2px solid;
}

.border-l-medium {
  border-left: 2px solid;
}

.border-thick {
  border: 4px solid;
}

.border-x-thick, blockquote::before, blockquote::after {
  border-left: 4px solid;
  border-right: 4px solid;
}

.border-y-thick {
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.border-t-thick, blockquote::before {
  border-top: 4px solid;
}

.border-r-thick {
  border-right: 4px solid;
}

.border-b-thick, blockquote::after {
  border-bottom: 4px solid;
}

.border-l-thick, .alert {
  border-left: 4px solid;
}

.border-none {
  border: none;
}

.border-x-none {
  border-left: none;
  border-right: none;
}

.border-y-none {
  border-top: none;
  border-bottom: none;
}

.border-t-none, .navbar li > ul {
  border-top: none;
}

.border-r-none {
  border-right: none;
}

.border-b-none {
  border-bottom: none;
}

.border-l-none {
  border-left: none;
}

.border-r-small {
  border-radius: 0.2rem;
}

.border-r-t-small {
  border-radius: 0.2rem 0.2rem 0 0;
}

.border-r-r-small {
  border-radius: 0 0.2rem 0.2rem 0;
}

.border-r-b-small {
  border-radius: 0 0 0.2rem 0.2rem;
}

.border-r-l-small {
  border-radius: 0.2rem 0 0 0.2rem;
}

.border-r-tl-small {
  border-radius: 0.2rem 0 0 0;
}

.border-r-tr-small {
  border-radius: 0 0.2rem 0 0;
}

.border-r-br-small {
  border-radius: 0 0 0.2rem 0;
}

.border-r-br-small {
  border-radius: 0 0 0 0.2rem;
}

.border-r-normal, .card {
  border-radius: 0.3rem;
}

.border-r-t-normal {
  border-radius: 0.3rem 0.3rem 0 0;
}

.border-r-r-normal {
  border-radius: 0 0.3rem 0.3rem 0;
}

.border-r-b-normal {
  border-radius: 0 0 0.3rem 0.3rem;
}

.border-r-l-normal {
  border-radius: 0.3rem 0 0 0.3rem;
}

.border-r-tl-normal {
  border-radius: 0.3rem 0 0 0;
}

.border-r-tr-normal {
  border-radius: 0 0.3rem 0 0;
}

.border-r-br-normal {
  border-radius: 0 0 0.3rem 0;
}

.border-r-br-normal {
  border-radius: 0 0 0 0.3rem;
}

.border-r-large {
  border-radius: 0.6rem;
}

.border-r-t-large {
  border-radius: 0.6rem 0.6rem 0 0;
}

.border-r-r-large {
  border-radius: 0 0.6rem 0.6rem 0;
}

.border-r-b-large {
  border-radius: 0 0 0.6rem 0.6rem;
}

.border-r-l-large {
  border-radius: 0.6rem 0 0 0.6rem;
}

.border-r-tl-large {
  border-radius: 0.6rem 0 0 0;
}

.border-r-tr-large {
  border-radius: 0 0.6rem 0 0;
}

.border-r-br-large {
  border-radius: 0 0 0.6rem 0;
}

.border-r-br-large {
  border-radius: 0 0 0 0.6rem;
}

.border-r-round {
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.1em 0 0.3em 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 0.5rem 0;
}
p:first-child {
  margin-top: 0.5rem;
}

mark {
  padding: 0 0.3em;
}

ins,
u,
del,
s {
  position: relative;
  padding: 0 0.1em;
  text-decoration: none;
}
ins::before,
u::before,
del::before,
s::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

a::before,
ins::before,
u::before {
  top: calc(100% - 0.2em);
}

del::before,
s::before {
  top: 50%;
}

blockquote {
  position: relative;
  width: fit-content;
  padding: 0.5rem;
  margin: 1.5rem auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  line-height: 1em;
}
blockquote::before, blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  width: calc(100% - 8px);
  height: 0.5em;
}
blockquote::before {
  top: 0;
}
blockquote::after {
  bottom: 0;
}
blockquote > * {
  display: inline-block;
  margin: 0.5rem 0;
}

q {
  font-weight: bold;
}
q::before, q::after {
  opacity: 0.7;
}
q::before {
  margin-right: 0.2em;
}
q::after {
  margin-left: 0.2em;
}

sup,
sub {
  padding: 0.1em;
}

ul, ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style-position: outside;
}
ul li, ol li {
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}
ul li::marker, ol li::marker {
  margin-left: 1rem;
  font-weight: bold;
}
ul[role=nav], ol[role=nav] {
  padding: 0;
  margin: 0;
}
ul[role=nav] li, ol[role=nav] li {
  margin: 0;
}

[role=list],
[role=nav] {
  list-style: none;
}
[role=list] ul, [role=list] ol,
[role=nav] ul,
[role=nav] ol {
  list-style: none;
}

dl {
  display: grid;
  padding: 0;
  margin: 0.5rem 0;
  grid-template-columns: 1fr;
}
@media (min-width: 576px) {
  dl {
    grid-template-columns: repeat(3, 1fr);
  }
  dl dt {
    text-align: right;
  }
}
dl dt,
dl dd {
  padding: 0.5rem;
  margin: 0;
}
dl dd {
  grid-column: span 2;
}

abbr {
  font-style: italic;
  text-decoration: none;
  cursor: help;
}
abbr::after {
  content: "";
  position: absolute;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: black;
}

code,
kbd,
samp {
  line-height: 2em;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

kbd {
  position: relative;
}
kbd:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0.05rem 0.2rem 0rem 0.05rem #000;
  z-index: -1;
}

pre {
  padding: 0.5rem;
}

address {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1.1em;
}
address + * {
  margin-left: 1rem;
}

details {
  padding: 0 !important;
  margin: 1rem 0;
}
details summary {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  cursor: pointer;
}
details p {
  padding: 0.5rem 1rem;
  margin: 0;
}

cite {
  font-size: 1.1em;
}

table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  overflow: hidden;
}
table caption {
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: bold;
}
table tfoot th {
  font-size: 0.8em;
  font-weight: normal;
}
table tr td, table tr th {
  padding: 0.5rem;
}

img,
picture {
  display: block;
  max-width: 100%;
  width: fit-content;
  margin: 0.5rem 0;
  object-fit: cover;
}

figure {
  width: fit-content;
  max-width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  overflow: hidden;
}
figure img,
figure picture {
  margin: 0;
}
figure figcaption {
  padding: 0.5rem;
  font-style: italic;
}

audio,
video {
  margin: 1rem 0;
}

audio::-webkit-media-controls-panel {
  background-color: #ddd;
}

iframe,
embed,
object {
  width: 100%;
  margin: 0.5rem 0;
}

fieldset {
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
}
fieldset legend {
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
form > *:not([type=radio]):not([type=checkbox]) {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1em;
  font-family: "Source Sans 3", sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=color] {
  width: 2rem;
  height: 2.25rem;
}

[role=check-group] {
  display: flex;
  align-items: center;
}
[role=check-group] input[type=radio],
[role=check-group] input[type=checkbox] {
  margin-right: 0.5rem;
}
[role=check-group] label {
  padding-top: 0.1rem;
}

input[type=radio],
input[type=checkbox] {
  position: relative;
  width: 1em;
  height: 1em;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type=radio]::before, input[type=radio]::after,
input[type=checkbox]::before,
input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
input[type=radio]::before,
input[type=checkbox]::before {
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
input[type=radio]::after,
input[type=checkbox]::after {
  scale: 0;
  transition: scale 0.1s ease-in-out 0.1s;
}
input[type=radio]:checked::before,
input[type=checkbox]:checked::before {
  background-color: #000;
  transition-duration: 0.1s;
}
input[type=radio]:checked::after,
input[type=checkbox]:checked::after {
  scale: 1;
  transition-delay: 0.1s;
}

input[type=radio]::before, input[type=radio]::after {
  border-radius: 50%;
}
input[type=radio]::after {
  width: 50%;
  height: 50%;
  background-color: #fff;
}

input[type=checkbox]::after {
  content: "✓";
  width: 80%;
  height: 80%;
  color: #fff;
  transform: translate(-45%, -85%);
}

label {
  display: inline-block;
  width: 100%;
}
label + * {
  margin: 0.5rem 0;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
  width: fit-content;
}
button:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled {
  opacity: 0.8;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1330px;
  }
}

.container-fluid {
  width: 100%;
}

.row,
.col,
[class^=col-],
[class*=" col-"] {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
}

[class^=col-],
[class*=" col-"],
.col {
  position: relative;
  padding: 0.5rem;
  flex-direction: column;
}
[class^=col-] .inner,
[class*=" col-"] .inner,
.col .inner {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-s-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-s-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-s-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-s-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-s-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-s-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-s-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-s-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-s-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-s-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-s-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-s-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-m-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-m-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-m-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-m-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-m-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-m-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-m-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-m-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-m-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-m-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-m-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-m-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-l-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-l-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-l-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-l-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-l-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-l-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-l-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-l-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-l-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-l-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-l-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-l-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.fw-nowrap {
  flex-wrap: nowrap;
}

.fd-row-r {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.fd-column-r {
  flex-direction: column-reverse;
}

.jc-initial {
  justify-content: initial;
}

.jc-inherit {
  justify-content: inherit;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ac-initial {
  align-content: initial;
}

.ac-inherit {
  align-content: inherit;
}

.ac-flex-start {
  align-content: flex-start;
}

.ac-flex-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-space-between {
  align-content: space-between;
}

.ac-space-around {
  align-content: space-around;
}

.ac-space-evenly {
  align-content: space-evenly;
}

.ac-stretch {
  align-content: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ai-initial {
  align-items: initial;
}

.ai-inherit {
  align-items: inherit;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.p-1 {
  padding: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.m-2 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.m-3 {
  margin: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.m-4 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.m-5 {
  margin: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.p-6 {
  padding: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.pl-6 {
  padding-left: 3rem;
}

.m-6 {
  margin: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.p-7 {
  padding: 3.5rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pt-7 {
  padding-top: 3.5rem;
}

.pr-7 {
  padding-right: 3.5rem;
}

.pb-7 {
  padding-bottom: 3.5rem;
}

.pl-7 {
  padding-left: 3.5rem;
}

.m-7 {
  margin: 3.5rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.p-8 {
  padding: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.pl-8 {
  padding-left: 4rem;
}

.m-8 {
  margin: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.p-9 {
  padding: 4.5rem;
}

.px-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.py-9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.pt-9 {
  padding-top: 4.5rem;
}

.pr-9 {
  padding-right: 4.5rem;
}

.pb-9 {
  padding-bottom: 4.5rem;
}

.pl-9 {
  padding-left: 4.5rem;
}

.m-9 {
  margin: 4.5rem;
}

.mx-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.mb-9 {
  margin-bottom: 4.5rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.p-10 {
  padding: 5rem;
}

.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

.pl-10 {
  padding-left: 5rem;
}

.m-10 {
  margin: 5rem;
}

.mx-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mt-10 {
  margin-top: 5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.mb-10 {
  margin-bottom: 5rem;
}

.ml-10 {
  margin-left: 5rem;
}

header,
main,
aside,
article,
section,
footer {
  display: block;
}

article {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
article header,
article footer {
  position: relative;
}
article header::before,
article footer::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  width: calc(100% + 1rem);
}
article header::before {
  top: 100%;
}
article footer {
  padding-top: 0.5rem;
}
article footer::before {
  top: 0;
}

.alert {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
  align-items: center;
}
.alert i {
  padding: 1.5rem;
  font-size: 1.4rem;
}
.alert .content > *:first-child {
  padding-top: 0;
}
.alert.is-info {
  background-color: rgba(48, 152, 242, 0.2);
  border-color: #3098F2;
}
.alert.is-info h1,
.alert.is-info h2,
.alert.is-info h3,
.alert.is-info h4,
.alert.is-info h5,
.alert.is-info h6,
.alert.is-info i {
  color: #0e7fe1;
}
.alert.is-success {
  background-color: rgba(140, 226, 5, 0.2);
  border-color: #8CE205;
}
.alert.is-success h1,
.alert.is-success h2,
.alert.is-success h3,
.alert.is-success h4,
.alert.is-success h5,
.alert.is-success h6,
.alert.is-success i {
  color: #6db004;
}
.alert.is-warning {
  background-color: rgba(242, 226, 5, 0.2);
  border-color: #F2E205;
}
.alert.is-warning h1,
.alert.is-warning h2,
.alert.is-warning h3,
.alert.is-warning h4,
.alert.is-warning h5,
.alert.is-warning h6,
.alert.is-warning i {
  color: #c0b304;
}
.alert.is-danger {
  background-color: rgba(242, 183, 5, 0.2);
  border-color: #F2B705;
}
.alert.is-danger h1,
.alert.is-danger h2,
.alert.is-danger h3,
.alert.is-danger h4,
.alert.is-danger h5,
.alert.is-danger h6,
.alert.is-danger i {
  color: #c09104;
}
.alert.is-error {
  background-color: rgba(242, 45, 5, 0.2);
  border-color: #F22D05;
}
.alert.is-error h1,
.alert.is-error h2,
.alert.is-error h3,
.alert.is-error h4,
.alert.is-error h5,
.alert.is-error h6,
.alert.is-error i {
  color: #c02404;
}

.card {
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}
.card > *:not(img):not(button) {
  padding: 0.5rem;
}
.card img {
  width: 100%;
  margin: 0;
}
.card img.rounded {
  position: relative;
  width: calc(100% - 2rem);
  margin: 1rem 0 0 1rem;
  border-radius: 50%;
}
.card img.rounded * {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.card img.rounded::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.card button {
  margin: 0.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fff;
  z-index: 2;
}
.navbar.align-right, .navbar.align-right .container {
  justify-content: flex-end;
}
.navbar.align-left, .navbar.align-left .container {
  justify-content: flex-start;
}
.navbar.align-both, .navbar.align-both .container {
  justify-content: space-between;
}
.navbar.sub-right li > ul,
.navbar li.sub-right > ul {
  right: 0;
  text-align: right;
}
.navbar.sub-center li > ul,
.navbar li.sub-center > ul {
  left: 50%;
  transform: translateX(-50%);
}
.navbar.sub-left li > ul,
.navbar li.sub-left > ul {
  left: 0;
  text-align: left;
}
.navbar .align-left {
  margin-right: auto;
}
.navbar .align-right {
  margin-left: auto;
}
.navbar .container {
  display: flex;
}
.navbar div.logo {
  padding: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
}
.navbar a {
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar ul,
.navbar li {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar li {
  position: relative;
}
.navbar li:hover ul {
  display: flex;
  flex-direction: column;
}
.navbar li > ul {
  display: none;
  position: absolute;
  top: 100%;
  width: fit-content;
  background-color: #fff;
}
.navbar li > ul > li > ul {
  top: 0;
  left: 100%;
}
.navbar li > ul > li > ul > li > a {
  padding: 0.2em;
  font-size: 0.8em;
}
.navbar .menu-icon {
  display: none;
  width: 3rem;
  height: 100%;
  padding: 0.7rem;
  align-items: center;
  cursor: pointer;
}
.navbar .menu-icon .inner,
.navbar .menu-icon .inner::before,
.navbar .menu-icon .inner::after {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 0.05rem;
}
.navbar .menu-icon .inner {
  position: relative;
  transition: background-color 0.2s ease;
}
.navbar .menu-icon .inner::before,
.navbar .menu-icon .inner::after {
  content: "";
  position: absolute;
  left: 0;
  transition: rotate 0.2s ease;
}
.navbar .menu-icon .inner::before {
  top: -0.4em;
}
.navbar .menu-icon .inner::after {
  bottom: -0.4em;
}
.navbar .menu-icon.is-active .inner {
  background-color: transparent;
}
.navbar .menu-icon.is-active .inner::before {
  rotate: 225deg;
  top: 0;
}
.navbar .menu-icon.is-active .inner::after {
  rotate: -225deg;
  bottom: 0;
}
@media (max-width: 576px) {
  .navbar {
    position: relative;
    z-index: 1;
  }
  .navbar .menu-icon {
    display: flex;
  }
  .navbar ul:not(li > ul) {
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    text-align: right;
    font-weight: bold;
    transition: transform 0.5s ease;
    z-index: -1;
    right: 0;
    transform: translateX(100%);
  }
  .navbar ul:not(li > ul).is-active {
    transform: translateX(0%);
  }
  .navbar ul:not(li > ul) li,
  .navbar ul:not(li > ul) li > ul {
    flex-direction: column;
  }
  .navbar ul:not(li > ul) li > ul {
    display: flex;
    position: relative;
    top: 0;
    margin-bottom: 0.5em;
    border: none;
    flex-direction: column;
  }
  .navbar ul:not(li > ul) li > ul li:not(:last-of-type) {
    border-bottom: none;
  }
  .navbar ul:not(li > ul) li > ul a {
    padding: 0.2em 1em;
    font-weight: normal;
    font-size: 0.9em;
    text-align: right;
  }
}

.is-info {
  background-color: #3098F2;
  color: #222;
}

.is-success {
  background-color: #8CE205;
  color: #222;
}

.is-warning {
  background-color: #F2E205;
  color: #222;
}

.is-danger {
  background-color: #F2B705;
  color: #222;
}

.is-error {
  background-color: #F22D05;
  color: #222;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

/*# sourceMappingURL=all.css.map */
