@use '../../helper/border';

@use '../../config/layout-config' as layout;

[role="check-group"] {
  display: flex;
  align-items: center;

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: layout.spacer-value(1);
  }

  label {
    padding-top: .1rem;
  }
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  &::before { 
    @extend .border-thin;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .3s ease;
  }

  &::after { 
    scale: 0;
    transition: scale .1s ease-in-out .1s;
  }

  &:checked {

    &::before { 
      background-color: #000;
      transition-duration: .1s;
    }
    
    &::after { 
      scale: 1;
      transition-delay: .1s;
    }
  }
}

input[type="radio"]{

  &::before,
  &::after {
    border-radius: 50%;
  }

  &::after {
    width: 50%;
    height: 50%;
    background-color: #fff;
  }
}

input[type="checkbox"]{

  &::after {
    content: '\2713';
    width: 80%;
    height: 80%;
    color: #fff;
    transform: translate(-45%, -85%);
  }
}