@use '../../helper/border';

@use '../../config/base-config' as base;

input,
select,
textarea,
button {
  @extend .border-thin;
  width: 100%;
  padding: .5rem;
  font-size: 1em;
  font-family: base.font-family('normal');

  &:focus { 
    outline: none;
  }
}

input[type="color"] {
  width: 2rem;
  height: 2.25rem;
}