@use '../utitilies/mixins/color';

@use '../config/theme-config' as theme;

body {
  color: theme.font-color();
  background-color: theme.background-color();
}

@include color.generate-classes( 
  theme.accent(), 
  theme.font-color(), 
  theme.font-color( false ) 
);