.banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3rem 2vw;
  justify-content: center;
  align-items: center;

  &.height-25 { height: 25vh }
  &.height-50 { height: 50vh }
  &.height-75 { height: 75vh }
  &.height-fit { height: fit-content }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &-content {
    position: relative;
    width: min(30rem, 100%);
  }

  &-content-top { align-items: flex-start }
  &-content-bottom { align-items: flex-end }
  &-content-left { justify-content: flex-start }
  &-content-right { justify-content: flex-end }
}